body {
    background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
    height: 120vh; 
    margin: 0; 
    overflow: hidden; /* Evita el scroll */
  }

  .logo {
    margin-left: -4.7%;
    scale: 0.65;
    transition: transform 0.5s ease;
    margin-top: -4.4%;
  }


h1 {
    font-family: 'Noka', sans-serif;
    font-weight: 600;
    font-size: 30pt;
    color: #FF45A2;
    margin-top: -32%;
    margin-left: 55%;
}

h2 {
    font-family: 'Noka', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #ffffff;
    margin-top: -1%;
    margin-left: 55%;
    margin-right: 5%;
}

.boton {
    margin-top: 8.5%;
    margin-left: 62%;
    scale: 90%;

}

.boton:hover img {
    transition: transform 0.3s ease, opacity 0.3s ease; 
    transform: scale(0.9); 
    opacity: 0.8; 
}



