body {
    background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
    overflow: hidden; /* Evita el scroll */
  }

    .logo {
  
        margin-left: 4%;
        margin-top: 6%;
        }

/* Estilos originales de h1 */
h1 {
    font-family: 'Noka', sans-serif;
    font-weight: 600;
    font-size: 30pt;
    color: #FF45A2;
    margin-top: -23%;
    margin-left: 55%;
}

/* Estilos originales de h2 */
h2 {
    font-family: 'Noka', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #ffffff;
    margin-top: -1%;
    margin-left: 55%;
    margin-right: 5%;
}

.boton {
    margin-top: 8.5%;
    margin-left: 62%;
    scale: 90%;

}

.boton:hover img {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
    transform: scale(0.9); /* Reduce el tamaño al 90% */
    opacity: 0.8; /* Cambia la opacidad al 80% */
}



