/* Estilo general del fondo */
body {
  background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Evita el scroll */
}

.titulo.nivel {
 margin-top: -2%;
  margin-bottom: 12%; /* Espacio debajo de la imagen del título */
  scale: 0.8;
}

.boton.round1 {
  width: auto;
  scale: 90%;
  display: inline-block; /* Necesario para aplicar transform */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
}

.boton.round1:hover {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
  transform: scale(0.9); /* Reduce el tamaño al 90% */
  opacity: 0.8; /* Cambia la opacidad al 80% */
}


