body {
  background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Evita el scroll */
}

.titulo.nivel {
 margin-top: -2%;
  margin-bottom: 10%; 
  scale: 0.8;
}

.boton.round2 {
  width: auto;
  scale: 90%;
  display: inline-block; /* Necesario para aplicar transform */
  transition: transform 0.3s ease, opacity 0.3s ease; 
}

.boton.round2:hover {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
  transform: scale(0.9); 
  opacity: 0.8; 
}


