h1 {
  font-family: 'Noka', sans-serif;
  font-weight: bolder;
  font-size: 150px;
  color: #FF45A2;
  margin-top: 100px;
}

body {
  background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  margin: 0; /* Elimina márgenes por defecto */
  overflow: hidden; /* Evita el scroll */
}




.logo {
  margin-left: 33%;
  margin-top: 6%;
  transition: transform 0.5s ease; /* Añadimos la transición para la animación */
}

.boton {
  margin-top: 6%;
  margin-left: 48%;

} 

.boton:hover img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
  transform: scale(0.9); /* Reduce el tamaño al 90% */
  opacity: 0.8; /* Cambia la opacidad al 80% */
}

.move-left {
  transform: translateX(-29vw); /* Mueve el logo un 20% hacia la izquierda */
}