body {
  background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  margin: 0; /* Elimina márgenes por defecto */
  overflow: hidden; /* Evita el scroll */
}


.button-right {
        display: flex;
        justify-content: flex-end; /* Alinea a la derecha */
        scale: 60%;
        margin-right: -20%; /* Margen derecho del 20% */
        margin-top: -8%;
    }
    
    .button-right img {
        cursor: pointer;
        width: auto;
        transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
    }
    
    .button-right img:hover {
        transform: scale(0.9); /* Reduce el tamaño al 90% en hover */
        opacity: 0.8; /* Cambia la opacidad al 80% en hover */

    }
