body {
  background: linear-gradient(to bottom, #3E3E3E, #1A1A1A);
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
  margin: 0; /* Elimina márgenes por defecto */
  overflow: hidden; /* Evita el scroll */
}


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 100%;
        background-color: #FF45A2; /* Fondo rosa */
        margin-top: 5%;
      }


      
      /* Estilos para el h2 */
      .container h2 {
        font-family: 'Noka', sans-serif;
        font-weight: 600;
        font-size: 70pt;
        justify-content: center;
        color: #ffffff;
        margin: 0; /* Elimina cualquier margen por defecto */
      }

      .button-right {
        display: flex;
        justify-content: flex-end; /* Alinea a la derecha */
        scale: 60%;
        margin-right: -20%; /* Margen derecho del 20% */
        margin-top: 20%;
      
    }
    
    .button-right img {
        cursor: pointer;
        width: auto;
        transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza la transición */
    }
    
    .button-right img:hover {
        transform: scale(0.9); /* Reduce el tamaño al 90% en hover */
        opacity: 0.8; /* Cambia la opacidad al 80% en hover */
    }

    .centered-image {
        display: flex;
        justify-content: center; /* Centrado horizontal */
        align-items: center;     /* Centrado vertical */
        margin-top: -27.9%;        /* Ajuste opcional, si es necesario */
        animation: levitate 1s ease-in-out infinite; /* Animación de levitación en loop */
      }
      
      @keyframes levitate {
        0% {
          transform: translateY(0); /* Empieza en la posición original */
        }
        50% {
          transform: translateY(-10px); /* Se mueve 10px hacia arriba */
        }
        100% {
          transform: translateY(0); /* Regresa a la posición original */
        }
      }
      